<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new friend</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add new friend to list</h1>
    <form action="#" th:action="@{/result}" th:object="${friend}" method="post">
        <label>First Name: <input type="text" th:field="*{firstName}" /></label>
        <label>Last Name: <input type="text" th:field="*{lastName}" /></label>
        <button type="submit">Add friend</button>
    </form>
</body>
</html>